---
##Only the main Sass file needs front matter (the dashes are enough)
---

// Default theme colors

$theme-colors: (
  "fhggray":    #a6bbc8,
  "fhgblue":    #005b7f,
  "fhgorange":  #f58220,
  "fhggreen":   #179C7d,
  "fhglime":    #b2d235,
  "snowwhite":  #ffffff,
);
$theme-color: map-get($theme-colors, "snowwhite");

$theme-primary: "{{ site.theme_primary }}";
$theme-secondary: "{{ site.theme_secondary }}";
$theme-tertiary: "{{ site.theme_tertiary }}";
$theme-highlight: "{{ site.theme_highlight }}";

$theme-primary: map-get($theme-colors, "fhgblue");
$theme-secondary: map-get($theme-colors, "fhggray");
$theme-tertiary: map-get($theme-colors, "fhggreen");
$theme-highlight: map-get($theme-colors, "fhgorange");

// @if map-has-key($theme-colors, $theme_primary) {
//   $theme-primary: map-get($theme-colors, $theme_primary);
// } @else if str-index($theme_primary, "#") == 1 {
//   $theme-primary: {{ site.theme_primary | default: '#ffffff' }};
// }

// @if map-has-key($theme-colors, $theme-secondary) {
//   $theme-secondary: map-get($theme-colors, $theme-secondary);
// } @else if str-index($theme-secondary, "#") == 1 {
//   $theme-secondary: {{ site.theme_secondary | default: '#ffffff' }};
// }

// @if map-has-key($theme-colors, $theme-tertiary) {
//   $theme-tertiary: map-get($theme-colors, $theme-tertiary);
// } @else if str-index($theme-tertiary, "#") == 1 {
//   $theme-tertiary: {{ site.theme_tertiary | default: '#ffffff' }};
// }

// @if map-has-key($theme-colors, $theme-highlight) {
//   $theme-highlight: map-get($theme-colors, $theme-highlight);
// } @else if str-index($theme-highlight, "#") == 1 {
//   $theme-highlight: {{ site.theme_highlight | default: '#ffffff' }};
// }


$content-width: {{ site.content_width | default: '920px' }};

@import "yat";